*{
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    
    body{
    width: 100%;
    height: 100%;
    background-color: #1B263B;
    }
    
    header{
    width: 100%;
    height: 400px;
    background-color: #1B263B;
    }
    
    .header_cabeçalho{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #0D1B2A;
    }
    
    .cabeçalho_titulo{
    color: #E9E9E9;
    font-size: 20px;
    margin: 20px 0px 0px 50px;
    }
    
    .cabeçalho_naveBar{
    font-size: 20px;
    margin: 0px 50px 0px 0px;
    display: flex;
    justify-content: space-between;
    color: #E0E1DD;
    }
    
    .Home{
        padding: 20px 30px 0px 30px;
        text-decoration: none;
        color: #E0E1DD;
      }
      
      .Home:hover{
        background-color: #1B263B;
      }
    
      .Cursos{
        padding: 20px 30px 0px 30px;
        text-decoration: none;
        color: #E0E1DD;
      }
      
      .Cursos:hover{
        background-color: #1B263B;
      }
    
    .Filosofia_titulo{
      color: #E0E1DD;
      height: 50%;
      width: 30%;
      margin: 100px 0px 0px 50px;
    }
    
    .centro{
      width: 90%;
      height: 1300px;
      background-color: #0D1B2A;
      margin: 20px 0px 0px 50px; 
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 30px;
    }
    
    .março{
      width: 90%;
      background-color:#E0E1DD;
      height: 250px;
      margin: 30px;
      margin-top: 50px;
    }
    
    .abril{
      width: 90%;
      background-color:#E0E1DD;
      height: 250px;
      margin: 30px;
    }
    
    .maio{
      width: 90%;
      background-color:#E0E1DD;
      height: 250px;
      margin: 30px;
    }
    
    .junho{
      width: 90%;
      background-color:#E0E1DD;
      height: 250px;
      margin: 30px;
    }
    
    h3{
      padding: 10px 0px 0px 20px;
    }
    
    li{
      margin-left: 50px;
    }